<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requisição CEMAG</title>
 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/load.css') }}">
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    
</head>

<body>
    
    <div class="container" id="formulario_requisicao">
        
        <div class="form-btns-menu">
            <button onclick="mostrarFormulario('formulario_requisicao')">Requisição</button>
            <button onclick="mostrarFormulario('formulario_transferencia')">Transferência</button>
        </div>
        
        <h2>Fomulário para requisição</h2>

        
            
        <!-- <div class="form-item-username">
        
            <select style="width: 150px;" id="selectFuncionario" class="selectFuncionario" name="selectFuncionario" required>
                <option value="" selected disabled hidden>Matrícula</option> 

            </select>
        
        </div> -->
        
        <div class="form-item">

            <label for="label" style="color: white;">
                Nome ou Matrícula (obrigatório):

                <!-- <select style="width: 300px;" id="selectFuncionario" class="selectFuncionario" name="selectFuncionario" required>
                    <option value="" selected disabled hidden></option> 
                    {% for matricula in matriculas %}
                        <option value="{{matricula[0]}}">{{matricula[0]}}</option>
                    {% endfor %}
                </select> -->

                <select style="width: 300px;" id="selectFuncionario" class="selectFuncionario" name="selectFuncionario" required>

                </select>
                
            </label>

        </div>

        <div class="form-item">
            
            <label for="label" style="color: white;">
                Centro de custo (obrigatório):

                <select id="selectCcusto" class="selectCcusto" name="selectCcusto" required>
                    <option value="" selected disabled hidden></option> 
                    {% for ccusto in ccustos %}
                        <option value="{{ccusto[0]}}">{{ccusto[0]}}</option>
                    {% endfor %}
                </select>
            
            </label>

        </div>

        <div class="form-item">

            <label for="label" style="color: white;">
                Item (obrigatório):
            
                <select id="selectItem" class="selectItem" name="selectItem" required>
                    <option value="" selected disabled hidden></option> 
                    {% for item in itens %}
                        <option value="{{item[0]}}" data-unidade="{{item[1]}}">{{item[0]}}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <!-- Adicionando um novo label para a unidade -->
            <label for="unidadeLabel" style="color: white;">
                <span id="unidadeLabel"></span>
            </label>

        </div>

        <div class="form-item">

            <label for="label" style="color: white;">
                Classe da requisição (obrigatório):
            
                <select id="selectClasse" class="selectClasse" name="selectClasse" required>

                </select>
            </label>

        </div>

        <div class="form-item">

            <label style="margin-right: 30px; color: white;" for="title" style="color: white;">
                
                <!-- <input type="number" name="quantidade" id="quantidade" min="0.1" max="999999" required>  -->
                <label  style="margin-right: 30px; color: white;" for="title">Observação (opcional): </label>
                <textarea id="texto_observacao" rows="5" cols="35" id="title" name="title"></textarea>

            </label>

        </div>

        <div class="form-item">

            <label style="margin-right: 30px; color: white;" for="label" style="color: white;">
                Quantidade (obrigatório):
                <!-- <input type="number" name="quantidade" id="quantidade" min="0.1" max="999999" required>  -->
                <input type="number" id="quantidade" name="quantidade" required><br><br>

            </label>

        </div>

        <!-- <div class="accept-box">
            <input type="checkbox" name="accept" id="accept">
            <p>I accept the <a href="#">Terms & Conditions</a></p>
        </div> -->

        <div class="form-btns">
            <button class="signup" id="btn-salvar-requisicao">Confirmar</button>
        </div>
 
    </div>

    <div class="container" id="formulario_transferencia">
        
        <div class="form-btns-menu">
            <button onclick="mostrarFormulario('formulario_requisicao')">Requisição</button>
            <button onclick="mostrarFormulario('formulario_transferencia')">Transferência</button>
        </div>

        <h2>Fomulário para transferência</h2>
            
        <!-- <div class="form-item-username">
        
            <select style="width: 150px;" id="selectFuncionario" class="selectFuncionario" name="selectFuncionario" required>
                <option value="" selected disabled hidden>Matrícula</option> 
                {% for matricula in matriculas %}
                    <option value="{{matricula}}">{{matricula}}</option>
                {% endfor %}
            </select>
        
        </div> -->
        
        <div class="form-item">

            <label for="label" style="color: white;">
                Nome ou Matrícula (obrigatório):
                
                <select style="width: 300px;" id="selectFuncionarioTransferencia" class="selectFuncionarioTransferencia" name="selectFuncionarioTransferencia" required>

                </select>
                
            </label>

        </div>

        <div class="form-item">
            
            <label for="label" style="color: white;">
                Depósito destino (obrigatório):

                <select id="selectDepositoDestino" class="selectDepositoDestino" name="selectDepositoDestino" required>
                        <option value="" selected disabled hidden></option> 
                        {% for deposito in deposito_destino %}
                            <option value="{{deposito[0]}}">{{deposito[0]}}</option>
                        {% endfor %}
                </select>
            
            </label>

        </div>

        <div class="form-item">

            <label for="label" style="color: white;">
                Item (obrigatório):
            
                <select id="selectItemTransferencia" class="selectItemTransferencia" name="selectItemTransferencia" required>
                    <option value="" selected disabled hidden></option> 
                    {% for recurso in recursos_transferencia %}
                        <option value="{{recurso[0]}}">{{recurso[0]}}</option>
                    {% endfor %}
                </select>
            </label>

        </div>

        <div class="form-item">

            <label style="margin-right: 30px; color: white;" for="label" style="color: white;">
                Quantidade (obrigatório):
                <!-- <input type="number" name="quantidade" id="quantidade" min="0.1" max="999999" required>  -->
                <input type="number" id="quantidade_transferencia" name="quantidade_transferencia" min="0" required><br><br>

            </label>

        </div>

        <!-- <div class="accept-box">
            <input type="checkbox" name="accept" id="accept">
            <p>I accept the <a href="#">Terms & Conditions</a></p>
        </div> -->

        <div class="form-btns">
            <button class="signup" id="btn-salvar-transferencia">Confirmar</button>
        </div>
 
    </div>
    
    <div id="loader" style="display: none;"></div>
    <div id="loader-overlay"></div>

    <div id="mensagem"></div>

    <!-- FORMULÁRIO PARA REQUISIÇÃO -->

    <script>
    
        $(document).ready(function() {
            $('#selectItem').select2({
                theme: "classic"
            });
        });

        $('#selectItem').on('select2:open', function (e) {
            $('.select2-search__field').attr('placeholder', 'Digite aqui para buscar...');
        });

    </script>

    <script>
        
        $(document).ready(function() {
            $('#selectCcusto').select2({
                theme: "classic"
            });
        });

        $('#selectCcusto').on('select2:open', function (e) {
            $('.select2-search__field').attr('placeholder', 'Digite aqui para buscar...');
        });

    </script>

    <script>
            
        $(document).ready(function() {
            $('#selectClasse').select2({
                theme: "classic"
            });
        });

        $('#selectClasse').on('select2:open', function (e) {
            $('.select2-search__field').attr('placeholder', 'Digite aqui para buscar...');
        });

    </script>

    <script>
                
        $(document).ready(function() {
            $('#selectItem').select2({
                theme: "classic"
            });
        });

        $('#selectItem').on('select2:open', function (e) {
            $('.select2-search__field').attr('placeholder', 'Digite aqui para buscar...');
        });

    </script>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Adiciona um ouvinte de evento ao selectCcusto
            $('#selectCcusto').on('select2:select', function (e) {
                // Exibe o loader
                document.getElementById('loader').style.display = 'block';
                document.getElementById('loader-overlay').style.display = 'block';

                // Obtém o valor selecionado do centro de custo
                var ccustoSelecionado = e.params.data.id;
                console.log('Centro de Custo Selecionado:', ccustoSelecionado);

                // Faz a solicitação AJAX para obter os itens com base no centro de custo selecionado
                fetch('/itens_por_ccusto?ccusto=' + ccustoSelecionado)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro na solicitação AJAX: ' + response.status);
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Limpa as opções atuais do selectItem
                        var selectItem = document.getElementById('selectItem');
                        selectItem.innerHTML = '<option value="" selected disabled hidden></option>';

                        // Adiciona as novas opções ao selectItem com base na resposta JSON
                        data.forEach(function (item) {
                            var option = document.createElement('option');
                            option.value = item[0];
                            option.textContent = item[0];
                            selectItem.appendChild(option);
                        });

                        // Oculta o loader após o sucesso
                        document.getElementById('loader').style.display = 'none';
                        document.getElementById('loader-overlay').style.display = 'none';

                    })
                    .catch(error => {
                        console.error(error);
                        // Mesmo em caso de erro, certifique-se de ocultar o loader
                        document.getElementById('loader').style.display = 'none';
                        document.getElementById('loader-overlay').style.display = 'none';

                    });
            });
        });

    </script>     -->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Adiciona um ouvinte de evento ao selectCcusto
            $('#selectItem').on('select2:select', function (e) {
                // Exibe o loader
                document.getElementById('loader').style.display = 'block';
                document.getElementById('loader-overlay').style.display = 'block';

                // Obtém o valor selecionado do centro de custo
                var itemSelecionado = e.params.data.id;

                // Faz a solicitação AJAX para obter os itens com base no centro de custo selecionado
                fetch('/classe_por_item?item=' + itemSelecionado)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro na solicitação AJAX: ' + response.status);
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Limpa as opções atuais do selectClasse
                        var selectClasse = document.getElementById('selectClasse');
                        selectClasse.innerHTML = '<option value="" selected disabled hidden></option>';

                        // Adiciona as novas opções ao selectClasse com base na resposta JSON
                        data.forEach(function (item) {
                            var option = document.createElement('option');
                            option.value = item[0];
                            option.textContent = item[0];
                            selectClasse.appendChild(option);
                        });

                        // Oculta o loader após o sucesso
                        document.getElementById('loader').style.display = 'none';
                        document.getElementById('loader-overlay').style.display = 'none';

                    })
                    .catch(error => {
                        console.error(error);
                        // Mesmo em caso de erro, certifique-se de ocultar o loader
                        document.getElementById('loader').style.display = 'none';
                        document.getElementById('loader-overlay').style.display = 'none';

                    });
            });
        });

    </script>  

    <script>
        $(document).ready(function () {
            $('#selectFuncionario').select2({
                ajax: {
                    url: '/sugestoes_funcionarios',
                    dataType: 'json',
                    delay: 1000,
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    },
                    cache: true
                }
            });

            // Adiciona um placeholder ao input do Select2
            $('#selectFuncionario').on('select2:open', function (e) {
                $('.select2-search__field').attr('placeholder', 'Digite aqui para buscar...');
            });
        });
    </script>

    <script>
        // Função para enviar os dados ao backend
        function salvarRequisicao() {
            // Obtém os valores dos campos
            // Exibe o loader
            document.getElementById('loader').style.display = 'block';
            document.getElementById('loader-overlay').style.display = 'block';

            try {
                var selectFuncionario = $('#selectFuncionario').select2('data')[0].text;
                // Se não houver exceção, o código continua aqui
            } catch (error) {
                // Se ocorrer uma exceção, o código dentro deste bloco será executado
                exibirMensagem('aviso','Por favor, preencha todos os campos obrigatórios')
                document.getElementById('loader').style.display = 'none';
                document.getElementById('loader-overlay').style.display = 'none';
                return;
            }          
            
            var selectItem = $('#selectItem').val();
            var selectCcusto = $('#selectCcusto').val();
            var selectClasse = $('#selectClasse').val();
            var quantidade = $('#quantidade').val();
            var observacao = $('#texto_observacao').val();

            // Verifica se algum campo está vazio
            if (!selectFuncionario || !selectItem || !selectCcusto || !selectClasse || !quantidade) {
                exibirMensagem('aviso', 'Por favor, preencha todos os campos obrigatórios');

                document.getElementById('loader').style.display = 'none';
                document.getElementById('loader-overlay').style.display = 'none';
                return;  // Não faz a requisição se algum campo estiver vazio
            }

            // Substitua 'URL_BACKEND' pela URL real do seu servidor
            var urlBackend = '/salvar-requisicao';

            // Monta o objeto de dados
            var dados = {
                selectFuncionario: selectFuncionario,
                selectItem: selectItem,
                selectCcusto: selectCcusto,
                selectClasse: selectClasse,
                quantidade: quantidade,
                observacao: observacao
            };

            // Faz uma requisição AJAX para enviar os dados ao backend
            $.ajax({
                type: 'POST',
                url: urlBackend,
                data: dados,
                success: function (data) {
                    exibirMensagem('sucesso', 'Dados enviados com sucesso');
                    // Adapte conforme necessário
                    $('#selectItem').val(null).trigger('change');
                    $('#selectClasse').val(null).trigger('change');
                    $('#quantidade').val('');
                    $('#texto_observacao').val('');
                    
                    document.getElementById('loader').style.display = 'none';
                    document.getElementById('loader-overlay').style.display = 'none';
                },
                error: function (error) {
                    console.error('Erro ao enviar os dados:', error);
                    document.getElementById('loader').style.display = 'none';
                    document.getElementById('loader-overlay').style.display = 'none';

                    // Adapte conforme necessário
                }
            });
        }

        // Adiciona um ouvinte para o evento de clique no botão
        $('#btn-salvar-requisicao').on('click', function () {
            // Desativa o botão após o clique            
            // Chama a função para enviar os dados ao backend
            salvarRequisicao();
        });

    </script>

    <!-- FORMULÁRIO PARA TRANSFERÊNCIA -->

    <script>
        $(document).ready(function () {
            $('#selectFuncionarioTransferencia').select2({
                ajax: {
                    url: '/sugestoes_funcionarios',
                    dataType: 'json',
                    delay: 1000,
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    },
                    cache: true
                }
            });

            // Adiciona um placeholder ao input do Select2
            $('#selectFuncionarioTransferencia').on('select2:open', function (e) {
                $('.select2-search__field').attr('placeholder', 'Digite aqui para buscar...');
            });
        });
    </script>

    <script>
    
        $(document).ready(function() {
            $('#selectItemTransferencia').select2({
                theme: "classic"
            });
        });

        $('#selectItem').on('select2:open', function (e) {
            $('.select2-search__field').attr('placeholder', 'Digite aqui para buscar...');
        });

    </script>

    <script>
        
        $(document).ready(function() {
            $('#selectDepositoDestino').select2({
                theme: "classic"
            });
        });

        $('#selectItem').on('select2:open', function (e) {
            $('.select2-search__field').attr('placeholder', 'Digite aqui para buscar...');
        });

    </script>

    <script>
        // Função para enviar os dados ao backend
        function salvarTransferencia() {
            
            document.getElementById('loader').style.display = 'block';
            document.getElementById('loader-overlay').style.display = 'block';

            // Substitua 'URL_BACKEND' pela URL real do seu servidor
            var urlBackend = '/salvar-transferencia';

            try {
                var selectFuncionarioTransferencia = $('#selectFuncionarioTransferencia').select2('data')[0].text;
                // Se não houver exceção, o código continua aqui
            } catch (error) {
                // Se ocorrer uma exceção, o código dentro deste bloco será executado
                exibirMensagem('aviso','Por favor, preencha todos os campos obrigatórios')
                document.getElementById('loader').style.display = 'none';
                document.getElementById('loader-overlay').style.display = 'none';
                return;
            }  

            var selectItemTransferencia = $('#selectItemTransferencia').val();
            var selectDepositoDestino = $('#selectDepositoDestino').val();
            var quantidade_transferencia = $('#quantidade_transferencia').val();

            // Verifica se algum campo está vazio
            if (!selectFuncionarioTransferencia || !selectItemTransferencia || !selectDepositoDestino || !quantidade_transferencia) {
                exibirMensagem('aviso', 'Por favor, preencha todos os campos obrigatórios');
                document.getElementById('loader').style.display = 'none';
                document.getElementById('loader-overlay').style.display = 'none';
                return;  // Não faz a requisição se algum campo estiver vazio
            }

            // Monta o objeto de dados
            var dados = {
                selectFuncionarioTransferencia: selectFuncionarioTransferencia,
                selectItemTransferencia: selectItemTransferencia,
                selectDepositoDestino: selectDepositoDestino,
                quantidade: quantidade_transferencia,
            };

            // Faz uma requisição AJAX para enviar os dados ao backend
            $.ajax({
                type: 'POST',
                url: urlBackend,
                data: dados,
                success: function (data) {
                    exibirMensagem('sucesso', 'Dados enviados com sucesso');
                    // Adapte conforme necessário

                    // Limpa ou reseta os campos específicos
                    $('#selectItemTransferencia').val(null).trigger('change');
                    $('#quantidade_transferencia').val('');

                    document.getElementById('loader').style.display = 'none';
                    document.getElementById('loader-overlay').style.display = 'none';
                },
                error: function (error) {
                    console.error('Erro ao enviar os dados:', error);
                    // Adapte conforme necessário
                    document.getElementById('loader').style.display = 'none';
                    document.getElementById('loader-overlay').style.display = 'none';
                }
            });
        }

        // Adiciona um ouvinte para o evento de clique no botão
        $('#btn-salvar-transferencia').on('click', function () {
            // Chama a função para enviar os dados ao backend
            salvarTransferencia();
        });
    </script>

    <!-- BOTÕES PARA ALTERNAR O FORMULÁRIO -->

    <script>
        function mostrarFormulario(idFormulario) {
            // Oculta todos os formulários
            var formularios = document.querySelectorAll('.container');
            formularios.forEach(function(formulario) {
                formulario.classList.remove('active');
            });

            // Mostra o formulário específico
            var formularioAtual = document.getElementById(idFormulario);
            formularioAtual.classList.add('active');
        }

        // Por padrão, mostrar o formulário de requisição
        mostrarFormulario('formulario_requisicao');
    </script>

    <!-- MENSAGEM -->

    <script>
        function exibirMensagem(tipo, texto) {
            var mensagemElement = document.getElementById('mensagem');
        
            // Define o texto da mensagem
            mensagemElement.innerText = texto;
        
            // Define a classe de estilo com base no tipo
            mensagemElement.className = 'sucesso';
            if (tipo === 'aviso') {
            mensagemElement.className = 'aviso';
            }
        
            // Exibe a mensagem
            mensagemElement.style.top = '20px'; // Define a posição para exibir a mensagem
        
            // Aguarda 3 segundos e esconde a mensagem
            setTimeout(function () {
            mensagemElement.style.top = '-204px'; // Define a posição para esconder a mensagem
            }, 3000); // 3000 milissegundos = 3 segundos
        }
    </script>

    <script>
        // Inicialize o Select2
        $('#selectItem').select2();

        // Captura o evento de mudança no selectItem
        $('#selectItem').on('change', function() {
            // Obtém o valor selecionado
            var selectedValue = $(this).val();
            // Obtém o atributo 'data-unidade' do item selecionado
            var selectedUnidade = $(this).find(':selected').data('unidade');
            // Encontra o elemento com id unidadeLabel e define seu conteúdo
            $('#unidadeLabel').text(selectedValue ? "Unidade - " + selectedUnidade : "");
        });
    </script>

</body>

</html>